<div class="title">
  <h1>Descripcion de Mascota</h1>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-title>
      Descripción
    </mat-card-title>
    <mat-card-content>
      <p><strong>Nombre</strong> Datos</p>
      <p><strong>Edad</strong> Datos</p>
      <p><strong>Raza</strong> Datos</p>
      <p><strong>Color</strong> Datos</p>
      <p><strong>Peso</strong> Datos</p>
      
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/mascotas" color="primary">Volver</button>
  </mat-card-actions>
  </mat-card>
</div>